html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
@media (min-width:700px){
    .container{
        margin-top:10px;
        display:flex;
        flex-direction: column;
        margin-bottom:10px;
    }
    header{
        background-color: #D1D2D4;
        height:9.4vh;
    }
    .content{
        width:75%;
        height:39vh;
    }
    .content-a{
       background-color:#EF4036;
    }
    .content-b{
        background-color:#FCB040;
    }
    .content-c{
        position:absolute;
        width:26%;
        height:78vh;
        background-color: #F5EE31;
        right:0;
    }
    p{
        line-height: 1.5em;
        margin-left:5px;
    }
    footer{
        background-color: #D1D2D4;
        height:9.4vh; 
    }
}
@media (min-width:480px) and (max-width:699px){
    .container{
        margin-top:15px;
        display:flex;
        flex-direction: column;
        margin-bottom:15px;
    }
    header{
        background-color: #D1D2D4;
        height:6vh;
    }
    .content{
        width:50%;
        height:41.5vh;
    }
    .content-a{
       background-color:#EF4036;
    }
    .content-b{
        background-color:#FCB040;
    }
    .content-c{
        position:absolute;
        width:50%;
        height:83vh;
        background-color: #F5EE31;
        right:0;
    }
    p{
        line-height: 1.5em;
        margin-left:5px;
        font-size: 20px;
    }
    footer{
        background-color: #D1D2D4;
        height:6vh; 
    }
}
@media (min-width:150px) and (max-width:479px){
    .container{
        margin-top:15px;
        display:flex;
        flex-direction: column;
        margin-bottom:15px;
    }
    header{
        background-color: #D1D2D4;
        height:7vh;
    }
    .content{
        height:27vh;
    }
    .content-a{
       background-color:#EF4036;
    }
    .content-b{
        background-color:#FCB040;
    }
    .content-c{
        background-color: #F5EE31;
        height:27vh;
    }
    p{
        line-height: 1.5em;
        margin-left:5px;
        font-size: 20px;
    }
    footer{
        background-color: #D1D2D4;
        height:7vh; 
    }
}




